.tab {
  justify-content: center;
  display: flex;
}
.head {
  padding-top: 5%;
}
.container {
  margin-top: 4%;
  margin-bottom: 4%;

  padding-top: 2%;
  background-color: white;
  margin-left: 0%;
}
